@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* register page starts */

#registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#registerForm input {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--foreground-rgb));
  color: #000;
}

#registerForm label {
  margin: 0.5rem 0;
}

#registerForm p {
  font-size: 0.8rem;
  color: red;
}

#registerForm button {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: royalblue;
}

#registerContainer p {
  margin: 0.5rem 0;
  width: 24rem;
  text-align: center;
}

/* register page ends */


/* login page starts */

#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginForm input {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--foreground-rgb));
  color: #000;
}

#loginForm label {
  margin: 0.5rem 0;
}

#loginForm p {
  font-size: 0.8rem;
  color: red;
}

#loginForm button {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: royalblue;
}

#loginContainer p {
  margin: 0.5rem 0;
  width: 24rem;
  text-align: center;
}

/* login page ends */


/* home page starts */

/* home page ends */

/* users page starts */

#usersPage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#usersContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 100%;
}

#usersHeader {
  margin: 3rem;
  font-size: 32px;
}

#usersSearch {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#usersSearchInput {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--foreground-rgb));
  color: #000;
}

#usersFilterButton {

  padding: 0.5rem;
  border-radius: 0.5rem;
  border: gray 1px solid;

}

#usersNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#usersList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: gray 1px solid;
  border-radius: 0.5rem;
}

#usersTable tr {
  border-bottom: 1px solid gray;
  align-items: start;
  padding: 0.5rem;
}

#usersTable th {
  text-align: left;
  padding: 0.5rem;
}

#usersTable td {
  padding: 0.5rem;
  text-align: left;
}

#pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#pagination button {
  padding: 0.5rem;
  border: gray 1px solid;
  width: 2.5rem;
  height: 2.5rem;
}

td img {
text-align: center;
}

/* users page ends */


/* users details page starts */

#updatePage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#updateContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 100%;
}

#updateForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

#updateFormHeader {
  margin: 3rem;
  font-size: 32px;
}

#updateForm input {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--foreground-rgb));
  color: #000;
}

#updateForm label {
  margin: 0.5rem 0;
}

#updateForm p {
  font-size: 0.8rem;
  color: red;
}

#updateForm select {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--foreground-rgb));
  color: #000;
}

#updateButtonContainer {
  display: flex;
  justify-content:flex-end;
  margin-left:auto;
}

#updateButtonContainer button {
  width: 8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(46,123,248);
}


/* confirm cancel modal starts */

#confirmUpdateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#confirmUpdateContent {
  background-color: royalblue;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.confirmButtonContainer {
  margin-top: 20px;
}

.confirmButton {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.confirmButtonYes {
  background-color: #00ff08;
  color: black;
  margin-right: 10px;
}

.confirmButtonNo {
  background-color: #ff1100;
  color: black;
}

/* confirm cancel modal ends */


/* toggle switch checkbox starts */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(84,225,119);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(84,225,119);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle switch checkbox ends */


/* users details page ends */